{% extends 'base.html' %}
{% block title %}All Users{% endblock %}

{% block body %}
<h1>All Past Patients</h1>
<style>
  body{
    background-color: #140958;
  }
  h1{
    color:white;
    padding-top:  15px;
    font-family: fantasy;
    background-color: #140958;
    text-align: center;
  }
  h2{
    text-align: center;
     color:#D5AF34;
     font-family: fantasy;
  }
  p{
    text-align: center;
    color:white;
    font-family: monospace;
  }
  th{
    text-align: center;
    color:rgb(194, 194, 194);
    font-family: monospace;
  }
  td{
    text-align: center;
    color:rgb(194, 194, 194);
    font-family: monospace;
  }
  
  table, th, td {
      border:2px solid #D5AF34;
    }
  button:hover{
    background-color:#D5AF34;
    color:#140958;
  }
  body{
    background: linear-gradient(to right,#000, #140958);
  }
  .verticalcenter {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.search{
  margin-left: 70px;
}
  </style>

<div>
  <input class="search" type="text" id="search" onkeyup='tableSearch()' placeholder="Search">

  <br>

  <br>
  <style>
     
    </style>
  
  <table class="center"style="width:90%" id="patient_info" data-filter-control="true" data-show-search-clear-button="true">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Message</th>
    </tr>
  
    {%for schedule in schedules%}
    <tr>
      <td><a href ="/patient/{{schedule.patient.patient_id}}">{{ schedule.patient.name }}</a></td>
      <td>{{schedule.patient.email}}</td>
      <td>{{schedule.date_to_send}}</td>
      <td>{{schedule.message}}</td>
      <td><button id="{{schedule.schedule_id}}">send</button></td>
    </tr>
      {%endfor%}
  </table>
</div>
<script src="/static/sendMessage.js"></script>
<script src="/static/search.js"></script>
{% endblock %}