<!doctype html>
<html>

  <head>
    <!-- <link rel="stylesheet"
      href="/project/static/css/style.css"> -->
      <style>
        .flash_styling{
          color: white;
          padding: 10px;
          background-color: #140958;
          border: 3px solid #D5AF34;
          border-radius: 15px;
          margin-left: 70px;
          margin-right: 1220px;
        }

      </style>
    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <body>
    
      {% for message in get_flashed_messages() %}
        <div class="flash_styling">{{message}}</div>
      {% endfor %}
  
    {% block body %}{% endblock %}

    {% block after_body %}{% endblock %}
  </body>
</html>
